@CHARSET "UTF-8";


.page-header{
	margin-top : 0px;
	text-align:center;
	font-style :oblique;
	font-family: sans-serif;
	background-color: #743a3a;
	padding-top: 25px;
	height: 150px;
}
.header{
	color : white;
}
.navbar-brand{
	color: white;
}
.page-header{
	color: white;
}


body{
	background-color: #fff7f7;
}